<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Marionette US Presidents List</title>
<link href="./assets/css/bootstrap.css" rel="stylesheet">
<link href="./assets/css/application.css" rel="stylesheet">
<!--source scripts startup-->
<script src="./assets/js/vendor/jquery.js"></script>
<!--end source scripts startup-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <span class="brand">Marionette US Presidents List</span>
    </div>
  </div>
</div>

<div class="container">
  <p>List of US Presidents:</p>
</div>

<div id="mainRegion" class="container">
  <p>Loading...</p>
</div>

<!--JS goes here -->

<!--source scripts core-->
<!-- <script src="./assets/js/vendor/json2.js"></script> -->
<script src="./assets/js/vendor/underscore.js"></script>
<script src="./assets/js/vendor/backbone.js"></script>
<script src="./assets/js/vendor/backbone.marionette.js"></script>
<!-- <script src="./assets/my-app-js/core/template-utilities.js"></script> -->
<!--end source scripts core-->

<!--template scripts-->
<script type="text/template" id="president-table">
  <th>#</th><th>Name:</th><th>Party:</th><th>Vice President:</th>
</script>
<!-- <script type="text/html" id="president-list-item" srcTmpl="./assets/my-app-js/templates/president-list-item.html"></script> -->
<script type="text/template" id="president-table-row">
  <td>
    <span><%- id %></span>
  </td>
  <td><%- firstName %> <%- middleName %> <%- lastName %></td>
  <td><%- party %></td>
  <td><%- vicePres_1.firstName %> <%- vicePres_1.middleName %> <%- vicePres_1.lastName %></td>
  <td><%- vicePres_2.firstName %> <%- vicePres_2.middleName %> <%- vicePres_2.lastName %></td>
  <td><%- vicePres_3.firstName %> <%- vicePres_3.middleName %> <%- vicePres_3.lastName %></td>
</script>
<!--end template scripts-->

<!--source scripts jsapp-->
<script src="./assets/my-app-js/my-app-config.js"></script>
<script src="./assets/my-app-js/models/presidents.json"></script>
<script src="./assets/my-app-js/models/presidentModel.js"></script>
<script src="./assets/my-app-js/collections/presidentCollection.js"></script>
<script src="./assets/my-app-js/views/presidentItemView.js"></script>
<script src="./assets/my-app-js/views/presidentsTableView.js"></script>
<script src="./assets/my-app-js/my-app.js"></script>
<!--end source scripts jsapp-->

</body>
</html>
