body {
  padding-top: 60px; /* 60px to make the container make room for the navigation bar */
}
ul li {
    list-style: none;
}
li span,
td span {
    display: inline-block;
    width: 20px;
    text-align: right;
    font-weight: bold;
}
td {
    padding: 15px;
    border: 1px solid #cccccc;
}