  <td>
    <span><%- data.id %></span>
  </td>
  <td><%- data.firstName %> <%- data.middleName %> <%- data.lastName %></td>
  <td><%- data.party %></td>
  <td>
    <% if (!!data.vicePres_1.firstName && !!data.vicePres_2.firstName) { %>
      1. <%- data.vicePres_1.firstName %> <%- data.vicePres_1.middleName %> <%- data.vicePres_1.lastName %><br />
    <% } else { %>
      <%- data.vicePres_1.firstName %> <%- data.vicePres_1.middleName %> <%- data.vicePres_1.lastName %><br />
    <% } %>

    <% if (!!data.vicePres_2.firstName) { %>
      2. <%- data.vicePres_2.firstName %> <%- data.vicePres_2.middleName %> <%- data.vicePres_2.lastName %><br />
    <% } %>

    <% if (!!data.vicePres_3.firstName) { %>
      3. <%- data.vicePres_3.firstName %> <%- data.vicePres_3.middleName %> <%- data.vicePres_3.lastName %>
    <% } %>
  </td>
  <td>
    <button class="btn btn-small js-delete">
      <i class="icon-remove"></i>
      Delete
    </button>
  </td>